/*fonts
font-family: 'Cardo', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
/fonts*/
/* @import
====================*/
.pic1 {
  background: url('../img/preview-pic1.jpg');
}
.pic2 {
  background: url('../img/preview-pic2.jpg');
}
.pic3 {
  background: url('../img/preview-pic3.jpg');
}
.pic4 {
  background: url('../img/preview-pic4.jpg');
}
.pic5 {
  background: url('../img/preview-pic5.jpg');
}
.pic6 {
  background: url('../img/preview-pic6.jpg');
}
.pic7 {
  background: url('../img/preview-pic7.jpg');
}
.pic8 {
  background: url('../img/preview-pic8.jpg');
}
/* Mixins
====================*/
/* Common
====================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #fff;
}
.btn {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.6;
  background: #e84545;
  border-radius: 2px;
  display: inline-block;
}
.btn:hover {
  background: #e42525;
}
/* Header
====================*/
header {
  background: #31354f url("../img/header-bg.jpg") no-repeat center / cover;
}
.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 38px 0 38px 0;
  border-bottom: 1px solid #4f5268;
}
.header-top__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}
.nav__link {
  margin-left: 55px;
  opacity: 0.75;
}
.nav__link:first-child {
  margin-left: 0;
}
.nav__link:hover {
  opacity: 1;
}
.header-inner {
  padding: 155px 0;
  margin: 0 auto;
  width: 920px;
  color: #fff;
  text-align: center;
}
.header-inner__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 65px;
  text-transform: uppercase;
  line-height: 1.09em;
  margin-bottom: 20px;
}
.header-inner__subtitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5em;
  margin-bottom: 77px;
}
.header-inner__btn {
  padding: 15px 45px;
}
/* Benefits
====================*/
.columns {
  margin: 121px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.col-item {
  width: 33%;
  text-align: center;
  margin-bottom: 58px;
}
.item-pic {
  margin-bottom: 30px;
}
.item-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  margin-bottom: 20px;
}
.item-subtitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #6c7279;
  line-height: 1.5;
}
/* Preview-photo
====================*/
.preview_photo {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
}
.preview-item {
  width: 475px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}
.item-inner {
  display: none;
}
.preview-item:hover {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background-color: #d34040;
  background-blend-mode: soft-light;
}
.preview-item:hover .item-inner {
  display: block;
}
.preview-item__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.preview-item__subtitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
/* Managers
====================*/
.column-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
}
.col-pic {
  margin-bottom: 26px;
}
.column__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18em;
  margin-bottom: 8px;
}
.column__subtitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1.2em;
  margin-bottom: 24px;
  color: #E84545;
}
.column__intro {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5em;
  color: #6C7279;
  margin-bottom: 25px;
}
.soc-link {
  width: 40px;
  height: 40px;
  margin-left: 4px;
  border: 1px solid #e8ecee;
}
.soc-link:first-child {
  margin-left: 0;
}
.links {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.l1 {
  background: url("../img/facebook-ico.png") no-repeat center;
}
.l2 {
  background: url("../img/twitter-ico.png") no-repeat center;
}
.l3 {
  background: url("../img/in-ico.png") no-repeat center;
}
.column-wrapper {
  padding-bottom: 100px;
}
/* Downloads
====================*/
.downloads {
  color: #2D3033;
  line-height: 21px;
  padding-top: 95px;
  padding-bottom: 100px;
  text-align: center;
  border-top: 2px solid #53354a;
  border-bottom: 2px solid #53354a;
}
.downloads__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 12px;
}
.downloads__subtitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 38px;
}
.downloads__link {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 13;
  padding: 16px 83px;
  background-color: #E84545;
  display: inline-block;
}
/* Footer
====================*/
footer {
  color: #fff;
  background-color: #3A3E64;
  padding-top: 67px;
  padding-bottom: 105px;
  text-align: center;
}
.footer-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__title {
  margin-bottom: 17px;
  line-height: 1.2em;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.footer__intro {
  line-height: 1.57em;
  color: #757893;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.c1 {
  width: 155px;
}
.c3 {
  width: 375px;
}
.fl {
  border: 2px solid #fff;
  margin-left: 7px;
}
